.container-fluid{
    background-color: #393E46;
    color: #4ECCA3; 
}
h2{
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
}
.problem-and-answer {
    display: flex;
    flex-wrap: wrap;
    margin:15px auto;
}
.answer-list{
    width: 25%;
    height:25px;
    margin-left: 10px;
}
#feedback{
    margin: 25px 0;
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    background-color: #393E46;
}
#problem-list{
    margin-left: 30%;
}
.content{
    font-family: 'Indie Flower', cursive;
    font-size:25px;
    margin: auto;
    height: 100vh;   
}
button{
    color:#393E46;
}
